= render 'layouts/hedder'
#content
  .main
    = render 'layouts/page_top'
    .seach
      #info
        .movie--info-box
          %h2.heading 
            お気に入り
          - if user_signed_in?
            - if @chapters.length > 0 
              .movie--info-box
                %ul.movie-box
                  = render partial: 'layouts/movie-box', collection: @chapters, as: 'chapter'
            - else
              %p お気に入りはまだ登録されていません。
          - else
            %p  ログインするとお気に入り機能を使用できます。