%li.movie--chapter.activ
  = link_to movie_chapter_path do
    %span.title
      = @chapter.title
    %span.pray_time #{Time.at(@chapter.start_time).utc.strftime('%M:%S')} ~ #{Time.at(@chapter.end_time).utc.strftime('%M:%S')}