%h2#comment.heading コメント
-# = form_for(movie_chapter_comments_path(@),)  do
%input#input-comment{name: "comment", size:"40", type: "text"}
%input#send-commen{type: "submit", value: "送信"}
.movie--comments
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い。
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い。
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い
  .movie--comment--info
    %ul
      %li.movie--comment--info__user 名前
      %li.movie--comment--info__data 2019/11/15 10:10
    %p.movie--comment--info--content 面白い。面白い。面白い。面白い