.wrapper#top
  %hedder.global-area
    %h1.global-area--logo Chapter Tube
    %ul.global-area--nav
      %li.global-area--nav--page
        = link_to "#" do
          お気に入り
      %li.global-area--nav--page.activ
        = link_to "#" do
          検索
      %li.global-area--nav--page
        = link_to "#" do
          ログイン
