.wrapper#top
  %hedder.global-area
    %h1.global-area--logo
      = link_to "/" do
        Chapter Tube
    %ul.global-area--nav
      %li.global-area--nav--page
        = link_to "#" do
          %i.fa.fa-star お気に入り
      %li.global-area--nav--page.activ
        = link_to "#" do
          %i.fa.fa-search 検索
      %li.global-area--nav--page
        = link_to "#" do
          %i.fa.fa-sign-in ログイン
