.side
  %ul.side--menu
    %li.side--menu--btn
      = link_to "#top",{class: "movie--originator"} do
        %i.fa.fa-play
          %span 動画
    %li.side--menu--btn
      = link_to "#chapters",{class: "movie--originator"} do
        %i.fa.fa-forward
          %span チャプター
    %li.side--menu--btn
      = link_to "#comment",{class: "movie--originator"} do
        %i.fa.fa-commenting-o
          %span コメント